data/*
!data/.gitkeep

slideimgs/

*.zip
*.pdf

__pycache__/
*.py[cod]
*$py.class

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
